html {
  font-family: "Russo One", sans-serif;
}

header {
  background-color: #55A4D8;
}

.light-blue {
  background-color: #55A4D8;
}

.dark-blue {
  background-color: #334255;
  color: #fff;
}

.small {
  max-width: 160px;
  max-height: 160px;
}

.white {
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

nav ul li a:hover {
  background-color: #334255;
  color: #fff;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer {
  color: #fff;
}

footer a:hover,
footer a:focus {
  border-bottom: 1px solid red;
}

header a {
  color: #334255;
}

.banner-content {
  background-color: rgba(255, 255, 255, 0.5);
}
